<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Le parchemin - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/footer.css') }}" />

    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                {{ render(controller('AppBundle:Navbar:index')) }}
                
                {% block body %}{% endblock %}
            </div>
        </div>
            <div class="container">
                {% include 'Footer/footer.html.twig' %}
            </div>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
