{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}

<div class="text-center">
    <br />
    <img style="max-height : 100%; max-width : 100%" src="{{ asset('Logo-Le-Parchemin.png') }}" alt="Logo le parchemin">
</div>
<br />

<h2>Bienvenue sur notre site vitrine ! </h2>
<p>
La ressourcerie du Parchemin … une action solidaire et écologique.<br />
Une ressourcerie collecte, valorise, vends et informe sur nos actions.<br />
Notre vitrine met en lumière les objets du réemploi et vous permet d’apercevoir la multiplicité des catégories que vous trouverez dans notre magasin … avant de venir nous voir !<br />
Comment cela fonctionne ? Vous pouvez rechercher en vous aidant des catégories ou directement avec les tags.<br />
Le Parchemin, structure d’insertion par l’activité économique, pour plus d'information <a href="https://leparchemin.org/index.php/lassociation/" target="_blank">cliquez sur ce lien</a>.<br />
Vous avez une question ? Vous souhaitez nous contacter ? Rendez-vous sur <a href="https://leparchemin.org/index.php/contact/" target="_blank">cette page</a>.
</p>
<h2>Nos derniers produits mis en ligne</h2>
<div class="row">
    {% for product in products %}
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card h-100 text-center">
            <div class="card-header" style="height : 45%">
                {% if product.image is empty %}
                <img style="max-height : 100%; max-width : 100%" src="{{ asset("aucun_apercu.png") }}" alt="Aucun aperçu">
                {% else %}
                <img style="max-height : 100%; max-width : 100%" src="{{ path_product_images }}{{ product.image }}" alt="Aperçu du produit">
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title name">{{ product.title }}</h5>
                <p class="card-text">
                    Tags associés :<br />
                    {% for tag in product.tags %}
                    <a href="{{ path('tag_products', { 'uuid': tag.uuid }) }}" class="btn btn-sm btn-outline-primary">{{
                        tag.name }}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="card-footer">
                <a href="{{ path('product_show', { 'uuid': product.uuid }) }}" class="btn btn-primary">Afficher les détails</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
