{% if is_granted("ROLE_SUPER_ADMIN") %}
    {% set mainMenu = [
    {'path': 'admin_product_created', 'name': 'Gestion de mes produits' },
    ] %}
{% elseif is_granted("ROLE_ADMIN") %}
    {% set mainMenu = [
    {'path': 'admin_product_created', 'name': 'Gestion de mes produits' },
    ] %}
{% elseif is_granted("ROLE_USER") %}
    {% set mainMenu = [
    {'path': 'admin_product_created', 'name': 'Gestion de mes produits' },
    ] %}
{% endif %}
<nav class="navbar navbar-expand-lg navbar-light nav-bg-color">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% for category in categories %}
                <li {{ currentUrl == '/category/' ~ category.id ? ' class="nav-item nav-active"' : 'class="nav-item"' }}>
                    <a class="nav-link nav-color" href="{{ '/category/' ~ category.id }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if mainMenu is defined %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu dropdown-menu-right nav-bg-color" aria-labelledby="navbarDropdown">
                        {% for item in mainMenu %}
                            <a class="dropdown-item nav-color" href="{{ path(item['path']) }}">{{ item['name'] }}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item nav-color" href="{{ path('security_logout') }}">Déconnexion</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
