{% extends 'base.html.twig' %}

{% block title %}
    {% if new is defined %}
        Admin - Création d'un produit
    {% else %}
        Admin - Edition d'un produit
    {% endif %}
{% endblock %}

{% block body %}
    {% if new is defined %}
        <h1>Mise en ligne d'un produit</h1>
    {% else %}
        <h1>Edition d'un produit</h1>    
    {% endif %}


    {{ form_start(form) }}
        <div class="d-flex justify-content-between">
            <input class="btn btn-primary" type="submit" value="Mettre en ligne" />
            <a class="btn btn-danger" href="{{ path('admin_product_created') }}">Abandonner</a>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-8 mb-2">
                    <span class="text-danger font-weight-bold">{{ form_errors(form.title) }}</span>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="col-md-4 mb-2">
                    <span class="text-danger font-weight-bold">{{ form_errors(form.autoDeleteAt) }}</span>
                    {{ form_label(form.autoDeleteAt) }}
                    {{ form_widget(form.autoDeleteAt) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <span class="text-danger font-weight-bold">{{ form_errors(form.category) }}</span>
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                </div>
                <div class="col-md-4 mb-3">
                    <span class="text-danger font-weight-bold">{{ form_errors(form.city) }}</span>
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
                <div class="col-md-4 mb-3">
                    <span class="text-danger font-weight-bold">{{ form_errors(form.ref) }}</span>
                    {{ form_label(form.ref) }}
                    {{ form_widget(form.ref) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-8 mb-2">
                    <span class="text-danger font-weight-bold">{{ form_errors(form.description) }}</span>
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="col-md-4 mb-2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            Gestion de l'image
                        </div>
                        {% if product.image is empty %}
                            <img class="card-img-top" id="imagepreview" src="{{ asset("aucun_apercu.png") }}" alt="Aperçu du produit" />
                        {% else %}
                            <img class="card-img-top" id="imagepreview" src="{{ path_product_images }}{{ product.image }}" alt="Aperçu du produit" />
                        {% endif %}
                        <div class="card-body">
                            <span class="text-danger font-weight-bold">{{ form_errors(form.imageFile) }}</span>
                            {{ form_widget(form.imageFile) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <span class="text-danger font-weight-bold">{{ form_errors(form.tags) }}</span>
            {{ form_label(form.tags) }}
            {% for tag in form.tags|batch(10) %}
                <div class="form-group">
                    {% for option in tag %}
                        <div class="form-check form-check-inline">    
                            {{ form_widget(option) }}
                            {{ form_label(option, null, {
                                'label_attr': {'class': 'form-check-label'} }) 
                            }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>


    {{ form_end(form) }}

    {% if delete_form is defined %}
        <div><br />
            {% set deleteValue = "Supprimer le produit" %}
            {% include 'Modal/delete.html.twig' %}
        </div>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/adminEditProduct.js') }}"></script>
{% endblock %}