{% extends 'base.html.twig' %}
{% block title %}
        Admin - Modification du mot de passe d'un utilisateur : {{ user.username }}
{% endblock %}

{% block body %}
    <h1>Modification du mot de passe d'un utilisateur : {{ user.username }}</h1>

    {{ form_start(form) }}
        <div class="d-flex justify-content-between">
            <input class="btn btn-primary" type="submit" value="Enregistrer" />
            <a class="btn btn-danger" href="{{ path('admin_user_edit', { 'id': user.id }) }}">Abandonner</a>
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.first) }}
            <span class="text-danger font-weight-bold">{{ form_errors(form.plainPassword.first) }}</span>
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second) }}
            <span class="text-danger font-weight-bold">{{ form_errors(form.plainPassword.second) }}</span>
            {{ form_widget(form.plainPassword.second) }}
        </div>


    {{ form_end(form) }}

{% endblock %}